[submodule "deps/celerybeatredis"]
	path = deps/celerybeatredis
	url = https://github.com/asmodehn/celerybeatredis
	branch = celeros
[submodule "deps/flower"]
	path = deps/flower
	url = https://github.com/asmodehn/flower.git
[submodule "deps/tornado-cors"]
	path = deps/tornado-cors
	url = https://github.com/globocom/tornado-cors.git
