--index-url https://pypi.python.org/simple/
--extra-index-url https://testpypi.python.org/simple/

# need these here to ignore already installed packages when retrieving them.
celery==3.1.20
redis
futures

# adds dependency packages for development only
# -e git+https://github.com/asmodehn/pyros.git@config_refactor#egg=pyros