<launch>
  <!-- ******************************* Arguments ******************************* -->
  <arg name="app" default="celeros.app"/>
  <arg name="config" default="celeros.config"/>

  <!-- celery beat worker -->
  <node pkg="celeros" name="celeros" type="beat" args=" -A $(arg app) --config $(arg config)  -S celeros.celerybeatredis.schedulers.RedisScheduler -l DEBUG">
  </node>

</launch>
