<launch>
  <!-- ******************************* Arguments ******************************* -->

  <!--
    Useful parameter to have simulated robots and real robots on same network.
    Canary in the coal mine. Tasks will go to different queues.
  -->
  <arg name="simulation" default="false"/>

  <!--
    Celery arguments for worker
  -->
  <arg name="app" default="celeros.app" />
  <arg name="config" default="celeros.config" unless="$(arg simulation)"/>
  <arg name="config" default="celeros.config_simulation" if="$(arg simulation)"/>
  <arg name="hostname" default="$(env CELEROS_WORKER_HOSTNAME)" doc="used to specify the hostname for the celery worker in multirobot simulation. Default value should be the output of hostname but roslaunch is limited."/>
  <arg name="loglevel" default="INFO" doc="INFO or DEBUG"/>

  <!--
    Beat configuration
  -->
  <arg name="beat" default="false" />
  <arg name="beat_scheduler" default="celeros.RedisScheduler" />

  <!--
    Flower configuration. REST API to celeros
  -->
  <arg name="flower" default="false" />
  <arg name="flower_port" default="5555" />
  <arg name="flower_bind" default="0.0.0.0" />
  <arg name="flower_conf" default="$(find celeros)/celeros/flowerconfig.py" />

  <!--
    Static Pyros configuration : what should we expose.
  -->
  <arg name="topics" default="[]" />
  <arg name="services" default="[]" />
  <arg name="enable_cache" default="true"/>
  <arg name="connection_cache_list" default="/rocon/connection_cache/list" doc="topic to listen for connection cache list of connections"/>
  <arg name="connection_cache_diff" default="/rocon/connection_cache/diff" doc="topic to listen for differences in connection cache list of connections"/>

  <!-- celery worker -->
  <group if="$(arg beat)">
    <!-- celery beat worker -->
    <node pkg="celeros" name="celeros" type="celeros" args=" --beat -A $(arg app) --config $(arg config) --hostname beat.$(arg hostname) -S $(arg beat_scheduler) -l $(arg loglevel)">
      <param name="topics" value="$(arg topics)" type="str" />
      <param name="services" value="$(arg services)" type="str" />
      <param name="enable_cache" value="$(arg enable_cache)"/>
      <!-- remapping subscriber to plug into connection cache -->
      <remap from="~connections_list" to="$(arg connection_cache_list)"/>
      <remap from="~connections_diff" to="$(arg connection_cache_diff)"/>
    </node>
  </group>

  <group unless="$(arg beat)">
    <!-- celery normal worker -->
    <node pkg="celeros" name="celeros" type="celeros" args=" -A $(arg app) --config $(arg config) --hostname $(arg hostname) --loglevel $(arg loglevel)">
      <param name="topics" value="$(arg topics)" type="str" />
      <param name="services" value="$(arg services)" type="str" />
      <param name="enable_cache" value="$(arg enable_cache)"/>
      <!-- remapping subscriber to plug into connection cache -->
      <remap from="~connections_list" to="$(arg connection_cache_list)"/>
      <remap from="~connections_diff" to="$(arg connection_cache_diff)"/>
    </node>
  </group>

  <group if="$(arg flower)">
    <!-- flower server -->
    <node pkg="celeros" name="flower" type="flower" args="--port $(arg flower_port) --address $(arg flower_bind) --conf $(arg flower_conf) --config $(arg config) --logging $(arg loglevel)"/>
  </group>

</launch>
