<launch>
  <!-- ******************************* Arguments ******************************* -->
  <arg name="broker_url" default="redis://localhost:6379"/>
  <arg name="worker_tasks" default="rostful.celery_tasks"/>
  <arg name="address" default="localhost"/>
  <arg name="port" default="5555"/>
  <arg name="conf" default="flowerconfig.py"/>
  <arg name="config" default="celeryconfig.py"/>

  <!-- flower server -->
  <node pkg="celeros" name="flower" type="flower" args="--port $(arg port) --address $(arg address) --conf $(arg conf) --config $(arg config) --broker-url $(arg broker_url) --worker-tasks $(arg worker_tasks)">
  </node>

</launch>
